@media  screen and (max-width: 600px) {
    header{
        padding: 0 !important;
    }
    header .right-header{
        padding: 2rem !important;
    }
    .controlls{
        display: none  ;
    }
}